@import "../../assets/scss/iot/settings";
@import "../../assets/scss/iot/mixins/text";

.subscriptionPlan {
    background: $b800;
    padding: 24px 0 0 0;


    &__heading {
        @include text(24px, 600, 28px, $black);
        margin-bottom: 28px;
        padding: 0 24px;
    }

    &__tabs {
        display: flex;
        padding: 0 24px;
    }
    &__tab {
        @include text(14px, 600, 20px, $black);
        padding: 8px 16px;
        cursor: pointer;

        &.active {
            background-color: $white;
            border-radius: 4px 4px 0 0;
        }
    }

    &__addOn {
        background: #f8f8f8;
        padding: 0 24px;

        &-heading {
            padding-top: 50px;
            @include text(24px, 600, 28 px, $black);
        }

        &-services {
            display: flex;
            margin-top: 24px;

            :first-child {
                margin-right: 12.5px;
            }
            :last-child {
                margin-left: 12.5px;
            }
        }
    }

    &__video {
        &-heading {
            margin: 54px 0 24px 0;
            @include text(24px, 600, 28 px, $black);
        }
        &-video {
            padding: 120px 0;
            text-align: center;
        }
    }

    &__explore {
        &-heading {
            margin: 54px 0 24px 0;
            @include text(24px, 600, 28 px, $black);
        }
    }
}
