@import "../../assets/scss/iot/settings";

.loader {
    span {
        opacity: 0;
        animation: loader-dots 0.75s steps(5, end) infinite;
        color: $primary-color1;
        font-size: calc(100% + 8px);

        &:nth-child(1) {
            animation-delay: 0.25s;
        }
        &:nth-child(2) {
            animation-delay: 0.5s;
        }
        &:nth-child(3) {
            animation-delay: 0.75s;
        }
    }
}

@keyframes loader-dots {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
