@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
$nunito: "Nunito", sans-serif;

//Material icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

@import "./settings";
@import "./util/reset";
@import "./util/font";
@import "./util/types";
@import "./mixins";
@import "./util/gridold";
@import "./util/grid";
@import "./util/animation";
@import "./util/search-filter";
@import "./util/table";
@import "./util/table-filter";
@import "./util/card";
@import "./util/page-header";
@import "./util/form/textbox";
@import "./util/form/button";
@import "./util/form/checkbox";
@import "./util/form/select";
@import "./util/form/radio";
@import "./mixins/monthPicker";
@import './util/tooltip';

// box sizing
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: $nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $black;
}

.overlay {
  @media #{$large-down} {
    overflow: hidden;
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

@keyframes rightgrow {
  0% {
    margin: 0;
  }
  50% {
    margin: 0 0 0 10px;
  }
  100% {
    margin: 0;
  }
}

//Added By mustafa scrollbar view 

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px $deepgrey;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $deepgrey;
  -webkit-box-shadow: inset 0 0 6px $deepgrey;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $deepgrey;
}

///