<div [formGroup]="form">
  <ng-container *ngIf="model.isMultiSelect">
    <label>{{ model.label }}</label>
    <div [formGroupName]="model.formControlName">
      <div *ngFor="let opt of model.options" class="checkbox">
        <label>
          <input
            [formControlName]="opt.formControlName"
            type="checkbox"
            (change)="onInputChange($event, opt.label)"
          />
          <span>
            {{ opt.label }}
          </span>
        </label>
      </div>
    </div>
  </ng-container>
  <ng-container  *ngIf="!model.isMultiSelect">
    <div class="checkbox" >
      <label>
        <input
          [formControlName]="model.formControlName"
          type="checkbox"
          (change)="onInputChange($event)"
        />
        <span>
          {{ model.label }}
        </span>
      </label>
    </div>
  </ng-container>
</div>
