<div [formGroup]="form">
  <ng-container *ngIf="model.isMultiSelect">
    <div [formGroupName]="model.formControlName" [id]="model.id">
      <label>{{ model.label }}</label>
      <div *ngFor="let opt of model.options" class="checkbox">
        <label>
          <input
            [formControlName]="opt.formControlName"
            type="checkbox"
            (change)="onInputChange($event, opt.label)"
            [id]="opt.id"
          />
          <span>
            {{ opt.label }}
          </span>
        </label>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!model.isMultiSelect">
    <div class="checkbox">
      <label>
        <input
          [formControlName]="model.formControlName"
          type="checkbox"
          (change)="onInputChange($event)"
          [id]="model.id"
        />
        <span>
          {{ model.label }}
        </span>
      </label>
    </div>
  </ng-container>
</div>
