<div [formGroup]="form" class="radio" [id]="model.id">
  <span>{{ model.label }}</span>
  <div *ngFor="let opt of model.options">
    <label>
      <input
        type="radio"
        [value]="opt.value"
        [formControlName]="model.formControlName"
        (change)="onInputChange(opt.value)"
        (blur)="onBlur.emit($event)"
        (focus)="onFocus.emit($event)"
        [attr.disabled]="model.disabled || opt.disabled"
        [id]="opt.id"
      />
      <span>
        {{ opt.label }}
      </span>
    </label>
  </div>
</div>
