<div class="selectWrapper">
  <div
    (click)="handleClickOnSelect()"
    class="selectContainer"
    [class.selectWrapper__error]="
      form.controls[model.formControlName].touched &&
      form.controls[model.formControlName].invalid
    "
    [class.selectWrapper__valid]="
      form.controls[model.formControlName].touched &&
      form.controls[model.formControlName].valid
    "
  >
    <div class="select">
      <span class="span" *ngIf="model.value">{{ selectedObject?.label }}</span>
      <span class="placeholder" *ngIf="!model.value">{{ model.label }}</span>
      <ul class="optionList" *ngIf="isOpen">
        <li
          *ngFor="let option of model.options"
          class="option"
          (click)="handleClickOnOption(option)"
        >
          {{ option.label }}
        </li>
      </ul>
    </div>
    <label [class.labelUp]="this.model.value" class="label">{{
      model.label
    }}</label>
  </div>
</div>
