@import "../../assets/scss/iot/mixins/text";
@import "../../assets/scss/iot/settings";
@import "../../assets/scss/iot/util/tooltip";

.changePassword {
    display: flex;
    background-color: $bggrey;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    transition: all 0.4s ease-in-out;
    transform: translateY(100%);

    &.active {
        transform: translateY(0);
    }

    &__close-icon {
        position: absolute;
        right: 46px;
        top: 46px;
        z-index: 11;

        width: 16px;
        min-width: 16px;
        height: 16px;
        transform: rotate(0deg);
        transition: 0.4s ease-in-out;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            width: 2px;
            position: absolute;
            height: 15px;
            background: $black;
            top: 0;
            right: 8px;
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__sidebar {
        background-color: $white;
        width: 221px;
        padding: 90px 16px 0 40px;
        box-shadow: $shadow400;

        h3 {
            @include text(32px, 600, 1.31, $b100);
        }
    }

    &__content {
        flex-grow: 1;
        margin: 80px auto auto 137px;
        max-width: 763px;
        position: relative;
    }

    &__card {
        padding: 24px;
    }
    &__heading {
        @include text(20px, 600, 30px, $black);
        margin-bottom: 2px;

        &-sub {
            @include text(14px, 400, 20px, $b200);
        }
    }

    &__form {
        max-width: 280px;

        &-errors {
            display: flex;
            flex-wrap: wrap;
            max-width: 400px;

            & > span {
                flex: 0 0 200px;
                @include text(14px, 600, 19.1px, $deepgrey);
                padding-right: 5px;
                .tick {
                    position: relative;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;

                    &::before {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        height: 50%;
                        width: 1px;
                        background-color: $validate-success;
                        content: "";
                        transform: translateX(10px) rotate(-45deg);
                        transform-origin: left bottom;
                    }
                    &::after {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 1px;
                        width: 100%;
                        background-color: $validate-success;
                        content: "";
                        transform: translateX(10px) rotate(-45deg);
                        transform-origin: left bottom;
                    }
                }

                .cancel {
                    position: relative;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 5px;

                    &::before,
                    &::after {
                        content: "";
                        width: 1px;
                        position: absolute;
                        height: 10px;
                        background: $black;
                        top: 0;
                        right: 5px;
                        transform: rotate(45deg);
                        background-color: $validate-error;
                    }

                    &::after {
                        transform: rotate(-45deg);
                    }
                }

                .round {
                    height: 10px;
                    width: 10px;
                    margin-right: 2px;
                    border: 1px solid $grey;
                    border-radius: 50%;
                    display: inline-block;
                }
            }
        }
    }

    &__button {
        margin-top: 20px;
    }
}
