<div class="changePassword" [class.active]="isOpen">
  <div class="changePassword__close-icon" (click)="close()"></div>
  <aside class="changePassword__sidebar">
    <h3>Change Password</h3>
  </aside>
  <div class="changePassword__content">
    <app-card>
      <div class="changePassword__card">
        <h2 class="changePassword__heading">Change your password</h2>
        <p class="changePassword__heading-sub">
          It’s a good idea to use a strong password that you don’t use
          elsewhere.
        </p>
        <div class="changePassword__form">
          <app-input [model]="email" [form]="form"></app-input>
          <app-input [model]="newPassword" [form]="form"></app-input>
          <app-input [model]="confirmPassword" [form]="form"></app-input>
          
        </div>
        <div class="changePassword__form-errors">
          <span><span class="tick"></span> Password policy 1</span>
          <span><span class="cancel"></span>Password policy 2</span>
          <span><span class="tick"></span> Password policy 3</span>
          <span><span class="round"></span> Password policy 4</span>
        </div>
        <div class="changePassword__button">
          <app-dynamic-button [model]="submitButton"> Change Password </app-dynamic-button>
        </div>
      </div>
    </app-card>
  </div>
</div>
