@import "../../assets/scss/iot/settings";
@import "../../assets/scss/iot/mixins/text";

.subscription {
    padding: 24px;
    padding-bottom: 70px;
    &__heading {
        @include text(24px, 600, 28px, $black);
    }
    &__description {
        @include text(14px, 400, 20px, $b300);
    }
    &__benifits {
        padding-top: 10px;
        &-desc {
            @include text(16px, 400, 24px, $b100);
            &::before {
                content: "";
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: $black;
                display: inline-block;
                margin-inline-end: 12px;
            }
        }
    }

  
        
    

    &__plans {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        & > * {
            margin: 0 7px;
            min-width: 165px;
        }
        ::ng-deep .section-box {
            margin: 0;
        }
    }

    ::ng-deep {
        .carousel-indicators {
            bottom: -60px;
            li {
                background-color: $black;
                width: 24px;
                height: 4px;
                border-radius: 4px;
            }
        }

        .carousel-control-prev,
        .carousel-control-next {
            background: black;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            opacity: 1;
            top: 40%;
            bottom: auto;
        }
        .carousel-control-prev {
            left: -15px;
        }
        .carousel-control-next {
            right: -15px;
        }
        .carousel-item:last-child{
            .subscription__plans{
                justify-content: flex-start;
            }
        }
    }
}
