<div class="dialog">
  <app-dialog-header
    type="warning"
    message="Message center"
    iconPath="../../assets/images/lock.svg"
  ></app-dialog-header>
  <app-dialog-body>
    <div class="dialog__content">
      <p>
        <b>{{config?.data?.message}} :</b> To avail the services please purchase the subscription.
        A brief discription regarding SMS Box. With following Benifits.
      </p>
    </div>
  </app-dialog-body>
  <app-dialog-footer>
    <app-dynamic-button [model]="primaryButton"
      >Subscribe Now</app-dynamic-button
    >
  </app-dialog-footer>
</div>
