<app-subscription-plan></app-subscription-plan><br /><br /><br />
<div style="width: 536px; margin: 20px auto">
  <app-value-service [service]="service"></app-value-service> <br /><br /><br />
</div>
<app-plan-subscription></app-plan-subscription><br /><br /><br />

<app-form-builder [fields]="getFields()"></app-form-builder>

<br />
<br />
<br />

<app-activity-card>
  <app-activity-header color="black">
    <div class="header">
      <app-profile [styles]="{ height: '65px', width: '65px' }">
        <img src="../assets/o-2.png" />
      </app-profile>
      <div class="header__description">
        <h1>Baljeet Singh</h1>
        <p class="header__description-text">
          Admin [Last login - Today 9:00am]
        </p>
      </div>
    </div>
  </app-activity-header>
  <app-activity-body>
    <div class="profile__body">
      <div class="profile__manage">
        <div class="profile__manage-name">
          Manage Account <img src="../assets/images/Vector.png" />
        </div>
        <p>
          You can change your password, add user and edit personal details here.
        </p>
      </div>
      <div class="profile__button">Change Password</div>
      <div class="profile__button">View All Activity</div>
      <div class="profile__plan">
        <div class="profile__plan-name">
          Subscription Plans <img src="../assets/images/Vector.png" />
        </div>
        <p>One stop shop for all the subscriptions and history.</p>
        <div class="profile__plan-centers">
          <div class="profile__plan-center">
            <div class="profile__plan-img">
              <img src="../assets/images/message.png" />
            </div>
            <p>Message Center</p>
          </div>
          <div class="profile__plan-center">
            <div class="profile__plan-img">
              <img src="../assets/images/message.png" />
            </div>
            <p>Location Center</p>
          </div>
          <div class="profile__plan-center">
            <div class="profile__plan-img">
              <img src="../assets/images/message.png" />
            </div>
            <p>Anything New</p>
          </div>
        </div>
      </div>
      <div class="profile__logout">
        Are you done for today, <a>&#160;Logout</a>
      </div>
    </div>
  </app-activity-body>
</app-activity-card>

<br />
<br />
<br />

<app-card [styles]="{ height: '100px', width: '500px' }">
  <h1 style="text-align: center">Hi</h1>
</app-card>

<br />
<br />
<br />

<div style="background-color: black; padding: 10px 50px; margin: 10px">
  <app-global-search
    debounceTime="300"
    [searchResults]="searchResults"
    [loading]="loading"
    minLength="3"
    (getsearchResults)="getsearchResults()"
    placholder="Search Basket | MSISDN | SIM Number"
  >
    <ng-container *ngIf="searchResults.length && !loading">
      <div class="search__result-suggestion">Search Suggestion</div>
      <div
        *ngFor="let result of searchResults | slice: 0:3"
        class="search__result-item"
        (click)="routeTo(result)"
      >
        <div class="search__result-image">
          <img src="../../assets/images/search.svg" class="search__img" />
        </div>
        <div class="search__result-name">
          <span class="search__result-id">{{ result.BASKET_ID }}</span>
          <span class="search__result-number"> {{ result.Name }}</span>
        </div>
      </div>
    </ng-container>
  </app-global-search>
</div>

<br />
<br />
<br />

<app-profile
  [styles]="{ height: '100px', width: '100px' }"
  classes="dummyClass"
>
  <img src="../assets/pic.png" />
</app-profile>

<br />
<br />
<br />

<app-button type="primary" [disabled]="true" (clicked)="submit()"
  >Primary</app-button
>
<app-button type="secondary">Secondary</app-button>
<app-button type="tertiory">Tertiory</app-button>
<app-button type="link">Link</app-button>

<br />
<br />
<br />

<app-icon-button (clicked)="submit()">
  <img
    src="../assets/search_black_24dp.svg"
    style="height: 25px; width: 25px"
  />
</app-icon-button>

<br />
<br />
<br />

<app-loader [show]="true"></app-loader>
