@import "../settings";

.tooltip {
  position: absolute;
  border-radius: 4px;
  background-color: $b100;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: normal;
  font-size: 12px;
  color: $white;
  padding: var(--spacing-l);
  left: 0;
  top: calc(100% + 12px);
  width: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out 0s;
  transform: perspective(100px) rotateX(-8deg);
  transform-origin: top center;
  z-index: 21;
  min-width: 100px;
  &::before {
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid $b100;
    top: 0px;
    left: 14px;
    transition: ease-in 0.25s;
  }
}


//added by Mustafa
.tooltip {
    text-align: center;
    padding: 0 50px;
}
.tooltip [tooltip] {
    display: inline-block;
    margin: 50px 20px;
    width: 180px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
}
.iot-tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
}
.iot-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
}
.iot-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
}
.iot-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
}
.iot-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
}
.iot-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
}
.iot-tooltip-show {
    opacity: 1;
}
