@mixin breadcrums() {
    font-size: 12px;
    line-height: 16px;
  
    ul {
      display: flex;
      align-items: center;
  
      li {
        list-style: none;
        padding: 0 10px;
        position: relative;
        color: $black;
        cursor: pointer;
  
        &::before {
          content: "";
          position: absolute;
          background: $mediumgrey;
          width: 1px;
          height: 10px;
          right: 0;
          top: 4px
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
  
  .breadcrums {
    @include breadcrums();
  }