<div class="search" [ngClass]="{ 'search__has-result': show == true }">
  <img src="../../assets/images/search.svg" class="search__img" />
  <input
    class="search__input"
    [formControl]="searchTerm"
    [placeholder]="placholder"
    type="search"
  />

  <div *ngIf="show" class="search__result">
    <ng-content></ng-content>

    <div
      *ngIf="searchResults.length == 0 && !loading"
      class="search__result-noresult"
    >
      No Result
    </div>
    <div *ngIf="loading" class="search__result-loader">
      <app-loader [show]="loading"></app-loader>
    </div>
  </div>
</div>
