<h1>Dynamic Form</h1>
<br />
<br />
<br />

<form [formGroup]="form" clsss="form">
  <div *ngFor="let field of fields">
    <div [ngSwitch]="field.type">
      <app-input [field]="field" [form]="form" *ngSwitchCase="'text'"></app-input>
      <app-multi-checkbox [field]="field" [form]="form" *ngSwitchCase="'checkbox'"></app-multi-checkbox>
    </div>

    <div class="form__hint" *ngIf="field.hint">{{ field.hint }}</div>
    <div *ngFor="let error of field.errorMessage">
      <div class="form__error" *ngIf="isControlHasError(field.key, error.key)">
        {{ error.message }}
      </div>
    </div>
  </div>
</form>
{{ form.value | json }}
