<h1>Dynamic Form</h1>
<br />
<br />
<br />

<form [formGroup]="form" clsss="form">
  <div *ngFor="let field of fields">
    <div [ngSwitch]="field.type">
      <app-input
        [field]="field"
        [form]="form"
        *ngSwitchCase="'text'"
      ></app-input>
      <app-multi-checkbox
        [field]="field"
        [form]="form"
        *ngSwitchCase="'checkbox'"
      ></app-multi-checkbox>
    </div>

    <div class="form__hint" *ngIf="field.hint">{{ field.hint }}</div>
    <div class="form__error" *ngIf="isControlHasError(field.key, 'required')">
      {{ field.errorMessage?.required || field.label + ' is required'}}
    </div>
    <div class="form__error" *ngIf="isControlHasError(field.key, 'pattern')">
      {{ field.errorMessage?.pattern || 'Invalid value for '+ field.label}}
    </div>
  </div>
</form>
{{ form.value | json }}
